body {
  background-image: url('../images/background.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

html {
  font-family: 'ABeeZee', 'Helvetica', sans-serif;
  font-size: 1.375em; /* 22px */
  line-height: 1.182em; /* 26px / ~ 120% */
  padding: 1.182em; /* 26px / ~ 120% */
  text-rendering: optimizeLegibility;
}

label {
  display: block;
}

/* ===== LAYOUT STYLES ====== */
form {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 0.3rem;
  box-shadow: 0 0.25rem 0.5rem rgb(160, 160, 160);
  text-align: center;
}

form h1 {
  font-size: 1.8rem;
  margin-bottom: 0.5em;
  color: #0c7cec;
}

form p {
  font-size: 1.0rem;
  color: #149cec;
  margin-bottom: 2.5em;
  font-weight: bold;
}

form ol {
  list-style: none;
}

form li {
  margin-bottom: 0.5em;
}

#input-email label {
  display: block;
  font-size: 0.8rem;
  margin-right: 0.5em;
  font-weight: bold;
  color: #149cec;
}

#input-age-verification label {
  margin: 0.5em;
  font-size: 0.6em;
  color: #666;
}

#input-email {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 2.0em;
}

#input-age-verification {
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 100%; 
}

input[type="email"] {
  width: 55%;
  padding: 0.35em;
  background-color: #f6f6f6;
  border: none;
  border-radius: 0.3rem;
  box-shadow: inset 0 0.1rem 0.2rem rgb(160, 160, 160);
  font-size: 0.7rem;
}

input[type="checkbox"] {
  background-color: #f2f2f2;
  border: none;
  border-radius: 0.3rem;
  color: #333;
  cursor: pointer; 
}

input[type="submit"] {
  background-color: #f2f2f2;
  border: none;
  border-radius: 0.3rem;
  color: #333;
  box-shadow: 0 0.1em 0.2em rgb(160, 160, 160);
  padding: 0.5em 1em;
  font-size: 0.8rem;
  cursor: pointer;
  font-family: 'ABeeZee', 'Helvetica', sans-serif;
}

/* ===== STATE STYLES ======= */

input[type="email"]:hover,
input[type="checkbox"]:hover,
input[type="submit"]:hover {
  background-color: #e6e6e6;
}